<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="3.1">
  <servlet>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.example.http.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/headers</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RequestBodyServlet</servlet-name>
    <servlet-class>com.example.http.RequestBodyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestBodyServlet</servlet-name>
    <url-pattern>/request-body</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.example.http.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>com.example.http.StatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MethodsServlet</servlet-name>
    <servlet-class>com.example.http.MethodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MethodsServlet</servlet-name>
    <url-pattern>/methods</url-pattern>
  </servlet-mapping>
</web-app>
